<section class="container">
  <div class="page-title text-center">
    <h2>Mis compras</h2>
    <p>Historial de compras realizadas en Arcadia Store.</p>
  </div>

  <section class="table-responsive">
    <table class="table table-dark table-striped align-middle">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Productos</th>
          <th>Total</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngIf="compras.length === 0">
          <td colspan="3" class="text-center">
            No existen compras registradas.
          </td>
        </tr>

        <tr *ngFor="let compra of compras">
          <td>{{ compra.fecha }}</td>

          <td>
            <div *ngFor="let producto of compra.productos">
              {{ producto.nombre }} (x{{ producto.quantity }})
            </div>
          </td>

          <td>
            ${{ compra.total.toLocaleString('es-CL') }}
          </td>
        </tr>

      </tbody>
    </table>
  </section>
</section>