<header class="site-header container text-center">
  <h1>Arcadia Store</h1>
  <p>Tienda especializada en juegos de mesa para compartir, competir y disfrutar.</p>
</header>

<nav class="site-nav container">
  <a routerLink="/">Inicio</a>
  <a routerLink="/catalogo/estrategia">Estrategia</a>
  <a routerLink="/catalogo/familiares">Familiares</a>
  <a routerLink="/catalogo/cartas">Cartas</a>
  <a routerLink="/catalogo/cooperativos">Cooperativos</a>
  <a routerLink="/registro">Registro</a>
  <a routerLink="/login">Login</a>
</nav>